@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Report App</h1>
    <p class="lead">
        Report Application is a web application which allow staffs to create reports either weekly and monthly reports.
        This App eliminate sending mails to one superior and also allows proper management of personnel report.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Staff Duties</h2>
        <p>
            Staff create reports and attached documents if needs to.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Unit/Department Leader</h2>
        <p>Team leader or UnitDepartment Leader will be able to view reports of their members belong to their unit or department</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Management</h2>
        <p>Management has access to all the reports of the staffs</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>