@{
    ViewBag.Title = "Authorized Failed";
}

@{
    ViewBag.Title = "About";
}


<div class="row" id="second-block">
    <div class="col-md-12">
        <h1>Authorized Failed</h1>
    </div>
</div>

<div class="row" id="first-block" style="background:white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>@ViewData["Message"]</p>
                <p>@ViewBag.msg</p>
            </div>
        </div>
    </div>
</div>


