@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>List of Roles</h2>

<table class="table">
    <tr>
        <th>SN</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @{int a = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@a</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        a++;
    }

</table>
